#question{
    width: 400px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    text-align: center;
}

.active {
    background-color: green;
    color: white;
}

#next , #before {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

body {
    background-color: rgb(181, 219, 188);
}